<p id="notice"><%= notice %></p>
   <div class="bodytext">



        <h3 class="film">
          <%= @title %>
        </h3>

        <p class="description">
          <%= @description %>
        </p>


    </div>
